<h1>Tabla de posiciones</h1>

<a href="{% url 'crear_estadistica' %}">Agregar equipo</a>

<table border="1">
    <tr>
        <th>Equipo</th>
        <th>JJ</th>
        <th>JG</th>
        <th>JP</th>
        <th>Puntos</th>
        <th>GF</th>
        <th>GC</th>
        <th>DIF</th>
        <th>Amonestaciones</th>
        <th>Acciones</th>
    </tr>

    {% for e in tabla %}
    <tr>
        <td>{{ e.equipo.nombreequipo }}</td>
        <td>{{ e.jj }}</td>
        <td>{{ e.jg }}</td>
        <td>{{ e.jp }}</td>
        <td>{{ e.puntos }}</td>
        <td>{{ e.gaf }}</td>
        <td>{{ e.gc }}</td>
        <td>{{ e.dif }}</td>
        <td>{{ e.amonestaciones }}</td>
        <td>
            <a href="{% url 'editar_estadistica' e.id %}">Editar</a>
            <a href="{% url 'eliminar_estadistica' e.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
